/* #root {
  text-align: center;
  & .main-nav {
    color: yellow;
    & ul li {
      font-size: 5rem;
    }
  }
} */
.App {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}