@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import 'global-var.css';
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--regular);
  background-color: var(--bg);
}
.cw {
    width: 1200px;
    padding: 0 2rem 0 2rem;
    margin: 0 auto;
}
@media screen and (max-width: 1199px) {
    .cw {
        width: 1024px;
    }
}
@media screen and (max-width: 1023px) {
    .cw {
        width: 768px;
    }
}
@media screen and (max-width: 767px) {
    .cw {
        width: 425px;
    }
}
@media screen and (max-width: 424px) {
    .cw {
        width: 100%;
    }
}